@media (min-width: 770px) {


    .menu_underline {
        background-color: #333;
        height: 1px;
        width: 0px;
        position: relative;
        left: 30px;
        transition: all 0.3s cubic-bezier(0.42, 0, 1.0, 1.0);
    }

    .menu_underline.active {
        width: 80px;
    }
    .mob_line {
        display: none !important;
    }
    #pf .active {
        padding: 50px;
    }
    .read {
        transform: scale(2);
    }
    #p9 .icon {
        background-image: url(image/three-point-icon.png);
        height: 42px;
        background-position-x: center;
        width: 100%;
        background-repeat: no-repeat;
        margin-bottom: 5px;
    }
    #p1 .content {
        padding: 0px 117px;
    }
    .block_line.z100 {
        z-index: 999;
    }
    #p2 .rarrow {
        padding-right: 10px;
    }
    #p2 .larrow {
        padding-left: 10px;
    }
    #p2 .content2 {
        text-align: right;
        padding-right: 32px;
    }
    #p2 .fgray {
        letter-spacing: -0.09em;
    }
    .leftarrow::before {
        content: '<';
        font-size: 15px;
        position: absolute;
        left: 0px;
        font-weight: bold;
        margin-top: 8px;
    }
    .rightarrow::before {
        content: '>';
        font-size: 15px;
        position: absolute;
        left: 0px;
        font-weight: bold;
        margin-top: 8px;
    }
    #p6 .a3 .rightarrow::before {
        margin-top: 6px;
        left: -18px;
    }
    #p3 .a2 .desc1 {
        padding-right: 80px;
    }
    #p3 .a4 .desc1 {
        padding-right: 310px;
    }
    #p3 .r5 {
        padding-left: 319px;
    }
    #p5 .line1 {
        left: 0;
        top: -146px;
    }
    #p5 .line2 {
        top: 757px;
        right: -7px;
    }
    #p6 .a3 .col-md-5 {
        padding-left: 140px;
        margin-top: 300px;
    }
    #p6 .a4 .desc1 {
        padding-right: 240px;
    }
    #p6 .line1 {
        margin-top: 161px;
    }
    #p6 {
        padding-bottom: 200px;
        background-image: url(image/p06/p06-dot.png);
        background-repeat: no-repeat;
        background-position: center bottom;
    }
    .colorline {
        background-image: url(image/index/color-line.png);
        width: 40px;
        height: 5px;
        position: relative;
    }
    .colorline1 {
        float: right;
        margin-right: 70px;
        top: 150px;
    }
    .colorline2 {
        top: 400px;
        left: -100px;
    }
    .colorline3 {
        top: 300px;
        left: -50px;
    }
    .colorline4 {
        top: 400px;
    }
    .colorline5 {
        float: right;
    }
    .colorline6 {
        float: right;
        top: 300px;
        right: -47px;
    }
    .colorline7 {
        top: 100px;
    }
    .colorline-red {
        background-image: url(image/index/color-line.png);
        width: 40px;
        height: 5px;
        position: relative;
        background-position-y: bottom;
    }
}

.modal-header .close {
    padding: 0px;
}