
@media (max-width: 769px) { 

    .mmenu a{
        letter-spacing:3px;
    }

    .mmenu .sub a{
        letter-spacing:2px;
    }

    .mmenu .sub{
        position: relative;
        left: -13px;
    }

    #p7 span{
        letter-spacing: 0;
    }

    body {
        overflow-x:hidden;
        width:100%;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    .line{
        display: none;
    }

    .icon{
        
    }

    #menu a{
        color:#fff;
        font-size: 20pt;
    }

    #menu .sub a{
        font-size: 14pt;
        
    }

    @keyframes slideDown {
        0% {
            height: 0;
        }
        100% {
            height: auto; /* height of your smallest content, e.g. one line */
        }
    }

    #menu .sub{
        max-height: 0;            
        overflow-y: hidden;
        -webkit-transition: max-height 0.5s ease-in-out;
        -moz-transition: max-height 0.5s ease-in-out;
        -o-transition: max-height 0.5s ease-in-out;
        transition: max-height 0.5s ease-in-out;
        /*display:none;
         transition: all 0.5s cubic-bezier(0.0, 0.0, 1.0, 1.0); */
    }

    .sitem{
        -webkit-transition: top 0.5s ease-in-out;
        -moz-transition: top 0.5s ease-in-out;
        -o-transition: top 0.5s ease-in-out;
        transition: top 0.5s ease-in-out;
        position: relative;
        top: 0px;
        left: -2px;
    }

    .sitem.active{
        top: -5px;
        left: -2px;

    }

    #menu .sub.active{
        max-height:230px ;     
    }

    .navhidesm{
        display:none;
    }


    #p0 .videoContainer{
        position: relative;
        background-size: cover;
        background-position: 50% 50%;
        height: 100vh;
        z-index: 0;
     }

     .btngo{
        padding: 7px 85px;
        margin: 20px;        
        color: #000;
        display: block;
        border-radius: 5px;
        background-image: url(/image/phone/index/next-button.png);
        background-repeat: no-repeat;
        background-position-y: top;
        height: 47px;
    }

    .btngo:hover{      

    }

    .btngo2{
        padding: 10px 60px;
        border: 1px solid #000;
        margin: 20px;        
        color: #000;
        display: block;
        transition: all 0.5s cubic-bezier(0.0, 0.0, 1.0, 1.0);
        border-radius: 5px;
    }

    .btngo1{
        padding: 7px 85px;
        margin: 20px;        
        color: #000;
        display: block;
        border-radius: 5px;
        background-image: url(/image/phone/index/more-button.png);
        background-repeat: no-repeat;
        background-position-y: top;
        height: 47px;
    }

    .btngo1:hover{      
        background-position-y: bottom;
    }

    .mask{
        background-image: url('image/index/bg.png');
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .bg{
        z-index: 66;
        position: relative;
    }
    
    #p0 video  {
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 104%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        opacity: 0.92;
    }

    #p0 .logo img{
        margin: 10px;
        transform: scale(0.8);
    }

    #p0 .icon{
        background-image: url(/image/phone/index/pattern.png);
        height: 181px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
    }

    #p0 > .row{
        margin: 0px;
    }

    #p0 .content{
        width:100%;
    }

    #p1 .bg{
        background-image: url(image/phone/p01/idea-BG.png);
        background-size: cover;
        margin-top: 0px;
    }
    
    #p1 .icon{
        margin-top: 35px;
        transform: scale(0.8);
    }

    #p1 .title{
        margin-top: 0px;
    }

    #p1 .title span{
        padding: 0 10px 5px 15px;
    }

    #p1 .content{
        margin: 50px 0 100px 0px;
        letter-spacing: 1.5px;
        line-height: 1.8;
    }

    #p2 .arrow img{
        transform: scale(0.6);
    }

    #p2 .title span{
        padding: 0 10px 5px 15px;
        letter-spacing: 5px;
        font-weight: 400;
    }

    .col-sm-12{
        padding:0px;
    }

    #p2 .arrow{
        margin-top: 50px;
    }

    
    #p2 .service_img {
        margin: 50px 0;
    }

    #p2 .icon{
        transform: scale(0.6);
    }

    #p2 .content span{
        padding-left: 20px;
    }

    #p2 .content .desc{
        margin-top: 10px;
    }

    #p2 .content2{
        margin-left: 33%;
    }

    #p3 .bg{
        background-image: url(image/phone/p03/air-title.png);
        background-size: cover;
        background-position: center;
    }

    #p3 .desc{
        margin-bottom: 50px;
    }

    #p3 .icon img{
        transform: scale(0.6);
    }

    #p3 .icon,#p4 .icon,#p5 .icon,#p6 .icon{
        margin-top:20px;
    }

    #p3 .service_img{
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .content1 div,.content2 div,.content3 div{
        width:100%;
    }

    .content1 > div span,.content2 > div span, .content3 > div span{
        border-bottom:1px solid #b7004a;
        padding-bottom: 5px;
    }

    #p3 .content1 .icon{
        transform: scale(0.9);
    }

    .desc1{
        margin-top: 30px;
    }

    #p4 .bg{
        background-image: url(image/phone/p04/floor-title-change.png);
    }

    #p5 .bg{
        background-image: url(image/phone/p05/wash-title.png);
    }

    #p6 .bg{
        background-image: url(image/phone/p06/save-title.png);
    }

    #p7 .bg{
        background-image: url(image/phone/p07/p07-bg.png);
        height: auto;
    }

    #p7 .a1 .icon{
        margin: 30px 0 10px 0;
    }

    #p7 .arrowicon{
        margin-top:30px;
    }

    #p7 .desc2{
        margin-top: 20px;
        margin-bottom: 50px;
    }

    
    #p8 .a2{
        margin-top: 60px;
    }

    #p8 .title{
        
    }

    #p8 .a1 .title span{
        padding: 0 0px 0px 0px;
    }

    #p8 .arrow{
        margin-top: 50px;
        margin-bottom: 20px;
    }

    #p8 input {
        background-image: url(image/index/bg.png);
        background-size: contain;
        border: 1px solid #333333;
        padding: 0 10px;
        text-align: center;
        margin-bottom: 30px;
        width:100%;
        font-size:16pt;
    }

    #p7 .a1 .desc{
        margin: 0;
    }

    #p8 .desc{
        width:90%;
    }

    #p8 select{
        margin: 0 10px 20px 10px;
        width:140px;
        padding: 3px 5px;
        text-align-last: center;
        color: #333;
        border: 1px solid #333333;
        font-size: 16px;
    }

    #p8 input:focus,#p8 select:focus{
        border:1px solid #b7004a;
    }

    #p8 .desc1{
        margin: 60px 0;
    }

    .bg{
        background-size: cover;
        background-position: center;
    }

    .desc{
        margin-bottom: 50px;
    }

    .modal2 .underline,.modal1 .underline{
        border-bottom: 1px solid #fff;
        padding: 5px 1px;
    }

    .modal-dialog{
        width:96%;
        max-width: 96%;
    }

    .service_img{
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .icon img{
        transform: scale(0.6);
    }

    .fm16{
        font-size: 16pt;
    }

    .fm24{
        font-size: 24pt;
    }

    .fm20{
        font-size: 20pt;
    }

    .fm28{
        font-size: 28pt;
    }

    .fm22{
        font-size: 22pt;
    }

    .menuicon{
        position: absolute;
        right: 20px;
        margin-top: 25px;
        z-index:999;
        background-image: url(image/phone/index/meau.png);
        height: 25px;
        width: 25px;
    }

 }




@media (min-width: 770px)  { 

    .line{
        display: block;
    }

    #p1 .bg > div.fwhite{
        background-image: url(/image/phone/p01/next-line.png);
    }

    .bg > div.fwhite{
        background-image: url(/image/phone/index/next-line.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: auto;
    }

    .mask{
        display: none;
    }
    .hidemd{
        display:none;
    }

    .menuicon{
        display:none;
    }

    .f12{
        font-size: 12pt;
    }

    .f18{
        font-size: 17pt;
    }
    
     .f22{
         font-size: 22pt;
     }

     .f24{
        font-size: 24pt;
    }
    
     .f26{
        font-size: 26pt;
    }
    
     .f30{
        font-size: 30pt;
    }
    
     .f36{
        font-size: 36pt;
    }

    .f42{
        font-size: 42pt;
    }

    .iconright{
        margin-left: 15px;
    }

    #p0 .logo img{
        margin: 30px 67px;
    }

    #p0 .content{
        width:100%;
    }

    #p0 ul{
        display: inherit;
        list-style-type: none;
        margin-top: 50px;
    }

    #p0 ul li ul{
        margin: 0px 0;
        padding: 0px;
        position: absolute;
    }

    #p0 .servicemenu{
        opacity: 0;
        transition: all 0.5s cubic-bezier(.15,.1,.2,1);
    }

    #p0 .servicemenu.active{
        opacity: 1;
    }

    #p0 ul li ul img{
        cursor: pointer;
        margin-top: 10px;
    }

    #p0 ul a, #p0 ul{
        color:#fff;
    }

    #p0 .line{
        right: 0;
        top: 100px;
    }

    .bgnumb1{
        background-image: url(image/p02/p02-number01.png);
    }

    .bgnumb2{
        background-image: url(image/p02/p02-number02.png);
    }

    #p1 .bg{
        background-image: url(image/p01/p01-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    #p1 .title{
        padding: 20px 100px;
    }

    #p1 .title span{
        padding: 0 70px 10px 70px;
    }

    #p1 > .row{
        height: 567px;
    }

    #p1{
        position: relative;
    }

    #p1 > .row > div{
        margin-top: 135px;
    }

    #p2 .title{
        padding: 20px 150px;
    }

    #p2 .title span{
        padding: 0 70px 10px 70px;
    }

    #p2 > .row  .row{
        margin-top: 100px;
    }

    #p2 .content{
        margin-top: 24%;
    }

    #p2 .a3  .text-md-left div{
    }

    #p2 .a3  .text-md-left .fm16 span{
        padding-left: 20px;
    }

    #p2 .content2 >.row{
        display: block;
    }

    #p2 .arrow,#p8 .arrow{
        margin-top: 100px;
        margin-bottom: 20px;
    }

    #p2 .col-md-7{
        padding:0px;
    }

    #p3 .bg{
        margin-top: 200px;
        background-image: url(image/p03/p03-title-bg.png);
    }

    #p3 .col-md-5{
        
    }

    #p3 .contentleft{
        left: 32px;
        padding-right: 120px;
    }

    #p3 .contentright{
        padding-right: 120px;
        left: 92px; 
    }

    #p3 .content1, #p6 .content1{
        margin-top: 15%;
        margin-left: 0px;
    }

    #p3 .content2 {
        margin-top: 17%;
        margin-left: 0px;
    }

    #p6 .content2{
        margin-top: 3%;
        margin-left: 0px;
    }

    #p3 .content3 ,#p6 .content3{
        margin-top: 15%;
        margin-left: 0px;
    }

    .a2 .title,.a3 .title,.a4 .title{
        float:left;
    }

    #p3 .scaleimg{
        min-width: 130%;
    }

    #p3 .imgleft{
        left:60px;
    }

    #p3 .imgright{
        right:25px;
    }

    #p3 .r3{
        padding-left: 70px;
    }
    
    #p3 .r3 div[class^="col-md"]{
        margin-top: -35px;
    }

    #p4 .bg{
        background-image: url(image/p04/p04-title-bg.png);
        margin-top: 200px;
    }





    #p3 > .row > div,#p4 > .row > div ,#p5 > .row > div,#p6 > .row > div{
        margin-top: 135px;
    }

    #p7 > .row > div{
        margin-top: 50px;
    }

    #p4 .content1,#p5 .content1{
        margin-top: 218px;
        margin-left: 0px;
    }

    #p4 .content2{
        margin-top: 16%;
        margin-left: 0px;
    }

    #p5 .content2{
        margin-top: 20%;
        margin-left: 0px;
    }

    #p4 .r2,#p5 .r2{
        padding-left: 70px;
    }
    
    #p4 .r2 div[class^="col-md"],#p5 .r2 div[class^="col-md"]{
        margin-top: -35px;
    }

    #p5 .bg{
        background-image: url(image/p05/p05-title-bg.png);
        margin-top: 200px;
    }

    #p5 .a2 .contentleft{
        left: -104px;
    }

    #p3 .a3,#p5 .a3{
        margin-top: 100px;
    }

    #p3 .a3 .desc1{
        
    }

    #p4 .a3 .desc1{
        padding-right: 70px;
    }

    #p5 .a3 .imgright{
    }



    #p6 .bg{
        background-image: url(image/p06/p06-title-bg.png);
        margin-top: 200px;
    }

    #p6 .contentleft{
        left: -100px;
        padding-right: 210px;
    }

    #p6 .a3 .desc1{
        width: 120%;
        z-index: 999;
        position: relative;
    }

    #p6 .a4 .contentright{
        margin-top: 350px;
        left: 30px;
    }

    #p7 .bg{
        background-image: url(image/p07/p07-bg.png);
        height: auto;
    }

    #p7 .arrowicon{
        margin-top:30px;
    }

    #p7 .desc2{
        margin-top: 40px;
        margin-bottom: 50px;
    }

    #p7 .underline{
        border-bottom: 1px solid;
        padding: 0px 0px 10px;
    }

    #p8 .a2{
        margin-top: 60px;
    }

    #p8 .title{
        padding: 0px 150px;
    }

    #p8 input {
        margin-bottom: 20px;
        width: 400px;
        background-image: url(image/index/bg.png);
        background-size: contain;
        border: 1px solid;
        padding: 0 10px;
        border:1px solid #333333;
    }

    #p8 select{
        margin: 0 10px 20px 10px;
        width:130px;
        border:1px solid #333333;
        padding: 3px 5px;
    }

    #p8 .a1 .title span{
        padding: 0 65px 15px 65px;
    }

    #p8 input:focus,#p8 select:focus{
        border:1px solid #b7004a;
    }

    #p8 .desc{
        margin: 0px 0;
        width: 350px;
    }

    #p8 .topbtn{
        float: right;
        position: relative;
        top: -25px;
    }

    #p8 .desc1{
        margin: 60px 0;
    }

    .modal-dialog{
        width:90%;
        max-width: 90%;
    }

    .modal2 .underline,.modal1 .underline{
        border-bottom: 1px solid #fff;
        padding: 5px 30px;
    }

    .modal2 .arrow{
        margin-top:50px;
    }

    .modal2 .desc{
        margin-top:50px;
    }

    .share{
        width:300px;
    }

    .overview{
        background-size: cover;
        height: 434px;
        background-position: center;
    }
    
    .btngo{
        padding: 7px 89px;
        margin: 20px;
        color: #000;
        display: block;
        border-radius: 5px;
        background-image: url(/image/index/next-button.png);
        background-repeat: no-repeat;
        background-position-y: top;
        height: 49px;
    }

    .btngo1:hover{      
        /* background-position-y: bottom; */
    }

    #p0 .videoContainer{
        position: relative;
        background-size: cover;
        background-position: 50% 50%;
        height: 100vh;
        z-index: 0;
     }
    
    #p0 video  {
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 104%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        opacity: 0.92;
    }

    .btngo1{
        padding: 7px 85px;
        margin: 20px;        
        color: #000;
        display: block;
        border-radius: 5px;
        background-image: url(/image/index/more-button.png);
        background-repeat: no-repeat;
        background-position-y: top;
        height: 47px;
    }

    .btngo1:hover{      
        background-position-y: bottom;
    }

    .btngo2{
        padding: 10px 60px;
        border: 1px solid #000;
        margin: 20px;        
        color: #000;
        display: block;
        transition: all 0.5s cubic-bezier(0.0, 0.0, 1.0, 1.0);
        border-radius: 5px;
    }

    
    #p0 .icon{
        background-image: url(/image/index/title.png);
        height: 265px;
        width: 552px;
    }

    .overview .title span{
        
    }



    
 }

 @Media (min-width: 760px) and (max-width: 769px) { 
    .line{
       display: none;
   }
    }

 .wifi{
    margin: 0 5px;
    vertical-align: middle;
}

 body{
    background-image: url('image/index/bg.png');
    overflow-x: hidden;
    position: relative;
 }

#p0 video.row  {
    position: absolute;
    height:100vh;
    opacity: 0.92;
}

#p0{
    height:100vh;
}



 .service_img{
    max-width: 100%;
    width: 100%;
 }

 section .animation.active{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
 }

 section .animation{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translate3d(0,60px,0);
    transform: translate3d(0,60px,0);
    transition: all 1.5s cubic-bezier(.15,.1,.2,1);
 }





 


.fwhite{
    color:#fff;
}

.fred{
    color:#b7004a;
}

.fgray{
    color:#333;
}

.line{
    position: absolute;
    z-index: 998;
}

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }

.i2{
    top:60px;
}
.i3{
    top:120px;
}

.input, .input1 {
    width: 364px;
    height: 43px;
    background: #fbf9f9;
    box-shadow: inset 1px 1px 3px 2px rgba(51,51,102,.5);
    left: 216px;
    position: relative;
}

.input input{
    position: relative;
    top: -42px;
    left: 0;
    line-height: 43px;
}
.input_select, .input_text {
    padding: 0 0 0 12px;
    margin: 0;
    border: 0;
    background: transparent;
    outline: 0;
    font-size: 24px;
    font-family: Helvetica Neue,Helvetica,Arial,Microsoft JhengHei,微軟正黑體,メイリオ,맑은 고딕,sans-serif;
}
.input_text {
    width: 352px;
    height: 43px;
}
button, input {
    overflow: visible;
}

.input img {
    position: relative;
    top: 0;
    left: 0;
}
.menu, .page_box img {
    display: block;
}
img {
    border-style: none;
}

.overview .title {
    letter-spacing: 8px;
}

a:hover {
    text-decoration: none;
}

.block_line{
    z-index: -100;
}


/* 
@font-face {
    font-family: Medium;
    src: url(font/NotoSansCJKtc-Medium.otf);
}

@font-face {
    font-family: DemiLight;
    src: url(font/NotoSansCJKtc-Thin.otf);
} */

@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
  }

  @font-face {
    font-family: 'Noto Sans TC Medium';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
  }

  @font-face {
    font-family: 'Noto Sans TC Light';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
  }

* {
    font-family: 'eng','Noto Sans TC','Roboto', 'Segoe UI', 'Segoe UI Light', 'Myriad Set Pro', NotoSansHant, 'Microsoft JhengHei', 微軟正黑體, 'Heiti TC', 'Microsoft YaHei', 微軟雅黑體, simhei, PMingLiU, 新細明體, Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, 'ＭＳ Ｐゴシック', 'Malgun Gothic', Dotum, Gulim, 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, sans-serif;    
}


 .fmedium{
    font-family: 'Noto Sans TC Medium';
}

.fdemilight{
    font-family: 'Noto Sans TC Light';
} 

.btngo1:active {
    background-color: #ddd;
}

.modal-header img.close
{
    opacity:1;
}